.recipe-details {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
  }
  
  .recipe-box {
    background: rgba(255, 255, 255, 0.7); 
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    grid-template-areas:
      "image details"
      "ingredients steps";
  }
  
  .recipe-details-info {
    grid-area: details;
    padding: 1.5rem;
  }
  
  .recipe-details-info h2 {
    font-size: 2rem;
    color: #D72638;
    margin-bottom: 1rem;
  }
  
  .recipe-info {
    margin-bottom: 2rem;
  }
  
  .recipe-info ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
  }
  
  .recipe-info li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .recipe-info li strong {
    font-weight: 600;
  }
  
  .recipe-ingredients, .recipe-steps {
    padding: 1rem;
  }
  
  .recipe-ingredients {
    grid-area: ingredients;
  }
  
  .recipe-steps {
    grid-area: steps;
  }
  
  
  @media (max-width: 768px) {
    .recipe-grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "image"
        "details"
        "ingredients"
        "steps";
    }
  }
  
  