  
  .recipe-image {
    grid-area: image;
    max-width: 100%;
  }
  
  .recipe-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }