@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.header-container {
    width: 100%;
    padding: 1.5rem 20px;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.home-content {  
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding: 3rem 1rem;
}



/* Stylish Welcome Message */
.welcome-text {
    font-size: 1.8rem;
    max-width: 1000px;
    font-weight: 600;
    color: #D72638; /* Vibrant Deep Red */
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1.2rem;
}

.spacer {
    height: 50px;
    width: 100%;
}

.spacer-bottom {
    height: 200px;
    width: 100%;
}

.footer-container {
    width: 100%;
    padding: 1.2rem 0;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: auto;
}

@media (min-width: 48rem) {
    .welcome-text {
        font-size: 2rem;
    }
}
